<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315486457248-gucg9mntiq763ug0pr6fe8fu2m8jpgc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315486457248-gucg9mntiq763ug0pr6fe8fu2m8jpgc1</string>
	<key>API_KEY</key>
	<string>AIzaSyAo6hHPnxsSkzq8scnGIu8dxXj-ysYrD84</string>
	<key>GCM_SENDER_ID</key>
	<string>315486457248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perfectt.bbrowsers</string>
	<key>PROJECT_ID</key>
	<string>perfect-browser-df85b</string>
	<key>STORAGE_BUCKET</key>
	<string>perfect-browser-df85b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:315486457248:ios:a7531b7082e2ec3625e8c5</string>
</dict>
</plist>
